<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta name="viewport" content="width=960">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:admins" content="100002358474209">
    <meta property="fb:app_id" content="362864550832043">
    <meta property='og:site_name' content='Hitokun's />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    <% if(description){ %><meta name="description" content="<%= description %>"><% } %>
    <% if(keywords){    %><meta name="Keywords" content="<%= keywords %>"><%        } %>
    <% if(image){       %><meta property="og:image" content="<%= baseUrl + image %>"/><%     } %>
    <% if(url){       %><meta property="og:url" content="<%= baseUrl + url %>"/><%     } %>
    <% if(description){       %><meta property="og:description" content="<%= description %>"/><%     } %>
    
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="article" />

    <title><%= title %> | Hitokun's</title>
    
    <%- getModules(title, description); %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="/js/google-tracking.js"></script>

    <link href="/css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            font-size: 20px;
            min-width: 800px;
            overflow-x: auto;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>

<%- console.log("let's include layout!", typeof(layout) != "undefined"); %>

<% if(typeof(layout) != "undefined" && layout){ %>
    <% if(layout != "nolayout"){ %>
    <%- include('layout/_' + layout) %>
    <% } else { %>
        <%- yield %>
    <% } %>
<% } else { %>
<%- include(global.libs["bootstrap"] ? 'layout/_bootstrap' :'layout/_semantic'); %>
<% } %>
<% layout = null %>
</body>
</html>
<% clean(); %>