<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="<%= author%>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hitokuns">
    
    <% if(description){ %><meta name="description" content="<%= description %>"><% } %>
    <% if(keywords){    %><meta name="Keywords" content="<%= keywords %>"><%        } %>
    <% if(image){       %><meta property="og:image" content="<%= image %>"/><%     } %>
    <% if(description){       %><meta property="og:description" content="<%= description %>"/><%     } %>
    
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= url%>%>" />

    <title><%= title %> | Hitokun's</title>

    <% modules.push("jquery"); %>
    <% modules.push("vue"); %>
    <% if(modules.indexOf("bootstrap") == -1) modules.push("semantic-ui"); %>

    <% modules.filter(function(item, pos) {return modules.indexOf(item) == pos;}).forEach(function(v){ %>
        <%- partial("modules/_" + v) %>
    <% }) %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <script src="/js/google-tracking.js"></script>

    <link href="/css/responsive-helper.css" rel="stylesheet">
    <style>
        body{
            padding-top: 10px;
            font-size: 20px;
        }
        .h-40{
            height:40px;
        }
    </style>
</head>
<body>
<%- include(modules.indexOf("bootstrap") > -1 ? 'layout/_bootstrap' :'layout/_semantic'); %>
</body>
</html>